@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  width: 100%;
  height: auto;
}

.clicker {
  animation: slideUp 1s linear forwards;
}

@keyframes slideUp {
  0% {
    opacity: 1;
    transform: translateY(0px);
    scale: 0.8;
  }

  100% {
    opacity: 0;
    transform: translateY(-100px);
    scale: 0.5;
  }
}
